<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog</title>
</head>
<body>
    <h1>Just one dog!</h1>
    <h3>Key: <%= id %></h3>
    <h3>Name: <%= dog %></h3>

    <form method="POST" action="/dogs/<%= id %>">
        <label for="name">New Name</label>
        <input type="text" name="newname" id="name">
        <br/>
        <button type="submit">Edit Dog</button>
    </form>
</body>
</html>